
#link01, #link02, #link03, #link021, #link022, #link33, 
#link11, #link12, #link13, #link21, #link22, #link23, #link24,
#link31, #link32, #link41, #link42, #link43, #link44, #link45,
#link46, #link47, #link48, #link49, #link4A, #link4B, #link4C, #link4D, #link4E, #link4F, #link51, #link52, #link53, #link54, #link55, #link56,
#link57, #link58, #link59, #link5A, #link5B, #link5C, #link5D, #link5E, #link5F, #link5G, #link61,
#link62, #link63, #link64, #link65, #link66, #link67, #link68,
#link69, #link6A, #link6B, #link6C, #link6D, #link6E, #link6F,
#link6G, #link71, #link72, #link73, #link74, #link75, #link76,
#link77, #link78, #link79, #link7A, #link7B, #link7C, #link7D,
#link7E, #link7G, #link81, #link82, #link83, #link84, #link85, #link86, #link87, #link88, #link91, #link92 {
	 cursor:pointer; color:#006fd0; font-size: 15px;
}
.container{height:40px}
#Collapse {
	margin-left : -3px;

	font-weight: 20;
	font-size: 15px;
}
.btn{float:right;}
.btn-sm {
	height: 30px;
	width: 75px;
}
.navbar {
	height: 37px;
	color: #4aabff;
}
.navbar-header{
	width: 33.33%;
	float:left

}
#idClock {
	color: white;
	font-size: 25px;
	text-align: center;width: 33.33%; float: left;
}
.navbar-brand {
	margin-top: -8px;
	font-size: 33px;
}
h4 {
	font-size: 18px;
}

.menu {
	float:right;width:250px;height:200px;
}
.menu a:link,.menu a:hover,.menu a:visited{color:#fff;text-decoration:none;}
.menu-header {
	margin: 85px 0 0 0;
	line-height: 30px;
	text-align: center;
	background: #3175b0;
	cursor: pointer;
	border: 1px solid #518dc1;
	color: white;
	border-radius: 4px;
}

.menu-header:hover  {
	background: #006fd0;
}

.menu-header:hover + ul {
	display: block;
}


.menu ul {
	margin:1px 0 0 0;
	display: none; padding:0;
}

.menu ul:hover {
	display: block;
	background: #006fd0;
}

.menu li {
	display: block;
	line-height: 30px;
	text-align: center;
	background: #2f71aa;border: 1px solid #2f71aa;
	cursor: pointer;    width: 250px;

}

.menu li:hover {
	background: #006fd0;
	border: 1px solid #518dc1;

}
