
#link01, #link02, #link03, #link021, #link022, #link33, #link47, #link48, #link5D, #link5E,
#link11, #link12, #link13, #link21, #link22, #link23, #link24,
#link31, #link32, #link41, #link42, #link43, #link44, #link45,
#link46, #link51, #link52, #link53, #link54, #link55, #link56,
#link57, #link58, #link59, #link5A, #link5B, #link5C, #link61,
#link62, #link63, #link64, #link65, #link66, #link67, #link68,
#link69, #link6A, #link6B, #link6C, #link6D, #link6E, #link6F,
#link6G, #link71, #link72, #link73, #link74, #link75, #link76,
#link77, #link78, #link79, #link7A, #link7B, #link7C, #link7D,
#link7E, #link81, #link82, #link83, #link84, #link91, #link92 {
	 cursor:pointer; color:#006fd0; font-size: 15px;
}

.btn-sm {
	height: 27px;
}
.navbar {
	height: 37px;
	color: #006fd0;
}
#idClock {
	color: white;
	font-size: 20px;
}
.navbar-brand {
	font-size: 25px;
}
h4 {
	font-size: 18px;
}
